<div>
<header-bar></header-bar>
<div class="loginmodal-container">
	<h1 translate>{{'forgotPassword'}}</h1><br>
	<div class="alert alert-danger dismsg" ng-if="forgetPasswordCtrl.errorMsg">
        <strong><i class="fa fa-times-circle"></i></strong> {{forgetPasswordCtrl.errorMsg}}
    </div>
    <br />
	<form name="forgetPasswordForm" novalidate ng-submit="forgetPasswordCtrl.submitUsername(forgetPasswordForm, forgetPasswordCtrl.fields)">
	    <label>{{'email' | translate}}</label>
		<input type="email" name="email" ng-model="forgetPasswordCtrl.fields.email" required placeholder="{{'email' | translate}}">
		<p ng-if="(forgetPasswordForm.$submitted || forgetPasswordForm.email.$touched ) && (forgetPasswordForm.email.$error.required || forgetPasswordForm.email.$error.email)" class="text-danger">
		  <span translate>{{'emailError'}}</span>
		</p>

		<button class="login loginmodal-submit" ng-click="forgetPasswordCtrl.submitUsername(forgetPasswordForm, forgetPasswordCtrl.fields)" ng-disabled="forgetPasswordCtrl.isLoading"><i class="fa fa-spin fa-spinner" ng-if="forgetPasswordCtrl.isLoading"></i>
          <span translate>{{'submit'}}</span>
		</button>
	</form>
					
	<div class="login-help">
		<a ui-sref="signup" translate>{{'register'}}</a> - <a class="clickable" ng-click="forgetPasswordCtrl.goToResetPassword()" translate>{{'resetPassword'}}</a> - <a ui-sref="login" translate>{{'login'}}</a>
	</div>
</div>
</div>
