<div class="padding15">
  <a ng-click="closeModal()" class="pull-right info-close-button">
    <i class="fa fa-times"></i></a>
  <div class="text-center info-header" translate>{{'infoHeader'}}</div>
  <div>
    <p class="info-window-content" translate>{{'infoParaOneHeader'}}</p>
    <p class="info-window-content">
      
    </p>
    <p class="info-window-content" translate>
      {{'infoParaOneBody'}}
    </p>
    <p class="info-window-content" translate>
      {{'infoParaTwoBody'}}
    </p>
    <p class="info-window-content" translate>
      {{'infoParaThreeBody'}}
    </p>
    <p class="info-window-content" translate>{{'infoParaTwoHeader'}}</p>
    <p class="info-window-content" translate>
      {{'infoParaFourBody'}}
    </p>
    <p class="info-window-content">
      <img src="images/remoteImage.do.png" alt="person-image" class="pull-left info-window-image">
      <span translate>{{'infoParaFiveBody'}}</span>
      <img src="images/remoteImage.do.jpeg" alt="device-image" class="pull-left info-window-device-image">
      <p></p><span translate>{{'infoParaSixBody'}}</span>
    </p>
    <p class="info-window-content" translate>
    {{'infoParaSevenBody'}}
      </p>
    <p class="info-window-content" translate>{{'infoParaThreeHeader'}}</p>
    <p class="info-window-content" translate>
      {{'infoParaFourHeader'}}： </p>
    <ul class="info-window-content">
      <li class="info-list-item" translate>{{'infoParaEightBody'}};</li>
      <li class="info-list-item" translate>{{'infoParaNineBody'}}；</li>
      <li class="info-list-item" translate>{{'infoParaTenBody'}}；</li>
      <li class="info-list-item" translate>{{'infoParaElevenBody'}}； </li>
    </ul>
    <p class="info-window-content" translate>{{'infoParaTwelveBody'}}
    </p>
    <p class="info-window-content" translate>{{'infoParaFiveHeader'}}</p>
    <p class="info-window-content" translate>{{'infoParaThirteenBody'}}
    </p>
    <ul class="info-window-content">
      <li class="info-list-item" translate>{{'infoParaFourteenBody'}} </li>
      <li class="info-list-item" class="info-list-item" translate>
      {{'infoParaFifteenBody'}}
      </li>
      <li class="info-list-item" class="info-list-item" translate>
        {{'infoParaSixteenBody'}}
      </li>
      <li class="info-list-item" class="info-list-item" translate>{{'infoParaSeventeenBody'}}</li>
    </ul>
    <p class="info-window-content" translate>
    {{'infoParaEightteenBody'}}！ </p>
  </div>
</div>
