<div class="loginmodal-container edit-profile-container">
    <a ng-click="changePasswordCtrl.closeModal()" class="pull-right info-close-button">
    <i class="fa fa-times"></i></a>
    <div ng-if="changePasswordCtrl.isLoadingUser" class="text-center loading-icon" flex>
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
    <div ng-if="!changePasswordCtrl.isLoadingUser">
            <h1 translate>{{'changePassword'}}</h1>
            <br>
            <div class="alert alert-danger dismsg" ng-if="changePasswordCtrl.errorMsg">
                <strong><i class="fa fa-times-circle"></i></strong> {{changePasswordCtrl.errorMsg}}
            </div>
            <br />
            <form name="changePasswordForm" novalidate ng-submit="changePasswordCtrl.changePassword(changePasswordForm, changePasswordCtrl.fields)">
                <label>{{'oldPassword' | translate}}</label>
                <input type="password" name="oldpassword" placeholder="{{'oldPassword' | translate}}" ng-model="changePasswordCtrl.fields.oldPassword" required>
                <p ng-if="(changePasswordForm.$submitted || changePasswordForm.oldpassword.$touched ) && (changePasswordForm.oldpassword.$error.required )" class="text-danger">
                    <span translate>{{'oldPasswordError'}}</span>
                </p>
                <label>{{'newPassword' | translate}}</label>
                <input type="password" name="password" placeholder="{{'newPassword' | translate}}" ng-model="changePasswordCtrl.fields.password" required>
                <p ng-if="(changePasswordForm.$submitted || changePasswordForm.password.$touched ) && (changePasswordForm.password.$error.required )" class="text-danger">
                    <span translate>{{'newPasswordError'}}</span>
                </p>
                <label>{{'confirmPassword' | translate}}</label>
                <input type="password" name="confirmPassword" placeholder="{{'confirmPassword' | translate}}" ng-model="changePasswordCtrl.fields.confirmPassword" required compare-to="changePasswordCtrl.fields.password">
                <p ng-if="(changePasswordForm.$submitted || changePasswordForm.confirmPassword.$touched )" class="text-danger">
                    <span ng-if="changePasswordForm.confirmPassword.$error.required">
			<span translate>{{'confirmPasswordError'}}</span>
                    </span>
                    <span ng-if="!changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$error.compareTo">
			<span translate>{{'passwordMismatchError'}}</span>
                    </span>
                </p>
                <button class="login loginmodal-submit" ng-click="changePasswordCtrl.changePassword(changePasswordForm, changePasswordCtrl.fields)" ng-disabled="changePasswordCtrl.isLoading"><i class="fa fa-spin fa-spinner" ng-if="changePasswordCtrl.isLoading"></i>
                    <span translate>{{'change'}}</span>
                </button>
                <button class="login loginmodal-submit mt15 default-button" ng-click="changePasswordCtrl.backToDashboard()" ng-disabled="changePasswordCtrl.isLoading">
                    <span translate>{{'cancel'}}</span>
                </button>
            </form>
    </div>
</div>