<div>
<header-bar></header-bar>
<div class="loginmodal-container">
	<h1 translate>{{'resetPassword'}}</h1><br>
	<div class="alert alert-danger dismsg" ng-if="resetPasswordCtrl.errorMsg">
        <strong><i class="fa fa-times-circle"></i></strong> {{resetPasswordCtrl.errorMsg}}
    </div>
    <br />
	<form name="resetPasswordForm" novalidate ng-submit="resetPasswordCtrl.resetPassword(resetPasswordForm, resetPasswordCtrl.fields)">
	    <label>{{'email' | translate}}</label>
		<input type="email" name="email" ng-model="resetPasswordCtrl.fields.email" required placeholder="{{'email' | translate}}">
		<p ng-if="(resetPasswordForm.$submitted || resetPasswordForm.email.$touched ) && (resetPasswordForm.email.$error.required || resetPasswordForm.email.$error.email)" class="text-danger">
			<span translate>{{'emailError'}}</span>
		</p>
		<label>{{'activationCode' | translate}}</label>
		<input type="text" name="code" placeholder="{{'activationCode' | translate}}" ng-model="resetPasswordCtrl.fields.code" required>
		<p ng-if="(resetPasswordForm.$submitted || resetPasswordForm.code.$touched ) && (resetPasswordForm.code.$error.required )" class="text-danger">
			<span translate>{{'activationCodeError'}}</span>
		</p>
		<label>{{'password' | translate}}</label>
	    <input type="password" name="password" placeholder="{{'password' | translate}}" ng-model="resetPasswordCtrl.fields.password" required>
		<p ng-if="(resetPasswordForm.$submitted || resetPasswordForm.password.$touched ) && (resetPasswordForm.password.$error.required )" class="text-danger">
			<span translate>{{'passwordError'}}</span>
		</p>
		<label>{{'confirmPassword' | translate}}</label>
		<input type="password" name="confirmPassword" placeholder="{{'confirmPassword' | translate}}" ng-model="resetPasswordCtrl.fields.confirmPassword" required compare-to="resetPasswordCtrl.fields.password">
		<p ng-if="(resetPasswordForm.$submitted || resetPasswordForm.confirmPassword.$touched )" class="text-danger">
		<span ng-if="resetPasswordForm.confirmPassword.$error.required" translate>{{'confirmPasswordError'}}</span>
		<span ng-if="!resetPasswordForm.confirmPassword.$error.required && resetPasswordForm.confirmPassword.$error.compareTo" translate>{{'passwordMismatchError'}}</span>
		</p>
		<button class="login loginmodal-submit" ng-click="resetPasswordCtrl.resetPassword(resetPasswordForm, resetPasswordCtrl.fields)" ng-disabled="resetPasswordCtrl.isLoading"><i class="fa fa-spin fa-spinner" ng-if="resetPasswordCtrl.isLoading"></i> 
         <span translate>{{'submit'}}</span>
		</button>
	</form>
					
	<div class="login-help">
		<a ui-sref="signup" translate>{{'register'}}</a> - <a ui-sref="login" translate>{{'login'}}</a>
	</div>
</div>
</div>
